div {
    border: 1px solid red;
    width: 10px;
    height: 50px;
    color: blue;
    font-size: 30px;
    display: inline;

}

span {
    border: 1px solid red;
    width: 100px;
    height: 50px;
    color: black;
    font-size: 30px;
    display: inline-block;

}

p {
    color: red;
    size: 10px;
}


