#div1 {
    border: 5px solid gray;
    width: 60%;
    height: 600px;
    background-color: aquamarine;
    background: url("../img/背景图.jpg");
}

#h001 {
    font-size: 30px;
    color: #3164af;
}

#bt001 {
    width: 100px;
    height: 40px;
    background-color: red;
}

.input1 {
    width: 198px;
    height: 398px;
    align-content: center;
}
